/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  display: flex;
  flex-direction: column;
  align-items:center;
  gap: 100px;
  background-image: var(--background-gradient-color);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 22px;
  width: 700px;
  margin-top: 100px;
  border: 2px solid var(--header-color);
  padding-bottom: 20px;
  color: var(--header-color);
  font-family: var(--font-for-decoration);
  background-color: var(--header-background-color);
}

.width-content {
  width:clamp(376px, 50%, 700px);
}

.header__logo-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 17px; 
  padding-top: 138px;
  font-weight: 400;
  text-transform: uppercase;
}

.header__logo-group__title {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.header__logo-group__subtitile {
  font-size: clamp(0.875rem, 0.6762rem + 0.8459vw, 1.4375rem);
}

.theme-menu {
  
}

.header__theme-menu {

}

.theme-menu__list {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.theme-menu__item {

}

.theme-menu__button {
  border: 0;
  font-size: 14px;
  text-transform: uppercase;
  background-color: transparent;
  transition: opacity .3s ease;
}

.theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__button::after {
  content: '';
  display: block;
  width: 0%;
  height: 2px;
  transition: width 300ms;
}

.theme-menu__button:hover::after {
  width: 100%;
  background-color: var(--header-color);
}

.theme-menu__button:focus {
  opacity: 0.6;
  outline: none;
}

.theme-menu__button:disabled  {
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button:disabled::before  {
  content: '▶';
  position: absolute;
  left: -13px;
  animation: left-shift-4px 0.5s infinite ease-in-out alternate-reverse;
}

/* Посты */

.content {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.post {
  font-family: var(--main-font);
  font-weight: 400;  
  font-size: 18px;
  background-color: #fff;
  color: #000;
  border: 2px solid var(--header-color)
}

.post_title {
  font-weight: 700;
  padding: 5px 10px;
}

.post_image {
  position: relative;
}

.post_image__file {
  inline-size: 100%;
}

.post_image__watermark {
  position: absolute;
  right: 25px;
  top: 25px;
  color: var(--header-color);
  font-family: var(--font-for-decoration);
  text-transform: uppercase;
  font-size: 14px;
  opacity: 0.5;
  mix-blend-mode: hard-light;
  text-shadow:
    -1px 0 var(--header-background-color),
    0 1px var(--header-background-color),
    1px 0 var(--header-background-color),
    0 -1px var(--header-background-color);
}


.post_text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.post_buttom {
  display: flex;
  justify-content:end;

}

/* Мобильный вид */

@media(width<=375px) {

    .width-content {
      width: 100%;
    }  

}