/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

button {
  cursor: pointer;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
  background-image: var(--background-gradient-color);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: 'wght' var(--title-font-weight);
}

/* Хидер */

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 22px;
  max-width: 700px;
  margin-top: 100px;
  border: 2px solid var(--header-color);
  padding-bottom: 20px;
  color: var(--header-color);
  font-family: var(--font-for-decoration);
  background-color: var(--header-background-color);
}

.width-content {
  width: clamp(376px, 60%, 700px);
}

.header__logo-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 17px;
  padding-top: 138px;
  font-weight: 400;
  text-transform: uppercase;
}

.header__logo-group__title {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.header__logo-group__subtitile {
  font-size: clamp(0.875rem, 0.6762rem + 0.8459vw, 1.4375rem);
}


.theme-menu__list {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 12px;
  transform: translateX(11px)
}

.theme-menu__button {
  border: 0;
  font-size: 14px;
  text-transform: uppercase;
  background-color: transparent;
  transition: opacity 0.3s ease;
}

.theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__button::after {
  content: '';
  display: block;
  width: 0%;
  height: 2px;
  transition: width 300ms;
}

.theme-menu__button:focus-visible::after {
  width: 100%;
  background-color: var(--header-color);
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  content: '▶';
  position: absolute;
  top: auto;
  left: -13px;
  animation: left-shift-4px 0.5s infinite ease-in-out alternate;
}

/* Посты */

.content {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.post {
  border: 2px solid var(--header-color);
  color: var(--header-color);
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 18px;
  background-color: var(--header-background-color);
}

.post_title {
  border-bottom: 2px solid var(--header-color);
  padding: 5px 9px;
  font-variation-settings: 'wght' var(--title-font-weight);
  font-size: 18px;
}

.post_image {
  position: relative;
}

.post_image__file {
  inline-size: 100%;
}

.post_image__watermark {
  position: absolute;
  top: 30px;
  right: 25px;
  opacity: 0.5;
  color: var(--header-color);
  font-family: var(--font-for-decoration);
  font-size: 14px;
  text-transform: uppercase;
  text-shadow:
    -1px 0 var(--header-background-color),
    0 1px var(--header-background-color),
    1px 0 var(--header-background-color),
    0 -1px var(--header-background-color);
  mix-blend-mode: hard-light;
}

@supports (
  (text-stroke: 1px var(--header-background-color)) or
    (-webkit-text-stroke: 1px var(--header-background-color))
) {
  .main__card-image-watermark {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--header-background-color);
    text-stroke: 1px var(--header-background-color);
  }
}

.post_text {
  display: flex;
  flex-direction: column;
  gap: 27px;
  padding: 20px 25px;
  font-variation-settings: 'wght' var(--text-font-weight);
}

.post_buttom {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 5px;
  padding: 0 25px 20px 0;
}

.post_buttom__like {
  width: 130px;
  height: 38px;
  font-family: var(--font-for-decoration);
}

/*Сердце*/

.button {
  position: relative;
  border: none;
  padding: 0;
  background: none;
  cursor: pointer;
}

.card__icon-button {
  transition: border 0.3s;
  transition-timing-function: ease;
  max-block-size: 38px;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--header-color, #000);
  outline: none;
}

/* Футер */

.footer {
  display: flex;
  justify-content: center;
  padding-bottom: 100px;
}

.footer_button {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px 15px;
}

.button__text {
  position: relative;
  z-index: 1000;
  font-family: var(--font-for-decoration);
  font-size: 14px;
  color: var(--button-text-color);
  mix-blend-mode: difference;
}

.footer_button__icon {
  z-index: 1000;
  width: 30px;
  height: 30px;
  color:var(--button-text-color);
  mix-blend-mode: difference;
}

/* Диалоговое окно */

.dialog {
  position: fixed;
  top: 0;
  z-index: 2;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 357px;
  padding: 20px 30px;
  color: var(--header-color);
  font-family: var(--font-for-decoration);
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  background-color: var(--header-background-color);
  overflow: hidden;  
}

.dialog[open] {
  display: flex;
}

.dialog::backdrop {
  opacity: 0.75;
  background-color: var(--header-color, #000);
}

.dialog_content {
  display: flex;
  align-items: center;
  gap: 20px;
}

.dialog_button {
  width: 293px;
  border: 2px solid var(--header-color);
  padding: 9px 17px;
  text-transform: uppercase;
  background-color: transparent;
}

.dialog_button__icon {
  z-index: 1000;
  display: flex;
  width: 90px;
  height: 90px;
  mix-blend-mode: difference;  
}

/* Общие стили */

.button__common_style {
  position: relative;
  border: 2px solid var(--header-color);
  color: var(--header-color);
  background-color: var(--header-background-color);
  transition: box-shadow 0.3s ease;
}

.button__common_style::after {
  content: '';
  position: absolute;
  inset: 0;
  background-color: var(--header-color);
  transition: inline-size 0.5s ease-in-out;
  inline-size: 0%;
}

.button__common_style:hover::after {
  inline-size: 100%;
}

.button__common_style:focus {
  outline: none;
}

.button__common_style:focus-visible {
  box-shadow: 2px 2px 0 0 var(--header-color);
}

/* Фильтры */

.filter-gray {
  filter: grayscale(0.7);
}

.filter-saturate {
  filter: saturate(300%);
}

.filter-hue {
  filter: hue-rotate(30deg);
}

.filter-invert {
  filter: invert(0.99);
}

.filter-sepia {
  filter: sepia(90%);
}

.filter-blur {
  filter: blur(0.5rem);
}

.filter-bright-opacity {
  filter: hue-rotate(98deg) blur(0.05rem) saturate(90%) brightness(90%)
    opacity(70%);
}

/* Мобильный вид */

@media (width<=375px) {

  .header__logo-group {
    padding-top: 120px;
  }

  .width-content {
    width: 100%;
  }

  .dialog {
    width: 341px;
  }

  .footer_button {
    flex-direction: column;
  }

  .footer_button__icon {
    width: 40px;
    height: 40px;
    gap: 30px;
  }

  .post_image__watermark {
    top: 25px;
    right: 10px;
  }
}
